.App {
  text-align: center;
}

.warning-container {
  padding-top: 10px;
}

.title {
  text-align: center;
}

.changer-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.changer-content {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.equal-signal {
  font-weight: bold;
  margin: 0 10px;
}

.changer-select-input {
  margin-right: 10px;
}