.title {
  text-align: center;
}

.changer-container {
  display: flex;
  width: 100%;
}

.changer-content {
  margin: 0 10px;
}

.equal-signal {
  font-weight: bold;
  margin: 0 10px;
}

.changer-select-input {
  margin-right: 10px;
}
