<div class="main">
  <h1 class="title">{{title}}</h1>
  <section class="changer-container">
    <div class="changer-content">
      <app-value-input class="changer-select-input" nameField="valueFrom" (valueInput)="updateValues($event)"
        [value]="dataObject['valueFrom']"></app-value-input>
      <app-select-input (valueSelected)="updateValues($event)" nameField="currencyFrom" value="USD"></app-select-input>
    </div>
    <div class="equal-signal"> == </div>
    <div class="changer-content">
      <app-value-input class="changer-select-input" nameField="valueTo" (valueInput)="updateValues($event)"
        [value]="dataObject['valueTo']"></app-value-input>
      <app-select-input (valueSelected)="updateValues($event)" nameField="currencyTo" value="USD"></app-select-input>
    </div>
  </section>

</div>

<router-outlet />
